/*
body{text-align: center; }
#box1{width:200px; height: 200px; border:10px solid #00f; margin-top:100px;  position: absolute; top:100px; left: 100px; }
#box2{width:200px; height: 200px; border:10px solid #00f; margin-top:100px;  position: absolute; top:350px; left: 100px; }
*/

html, body{text-align: center;}
.banners {width:1200px; margin:50px auto; overflow: hidden;}
.banners ul {position: relative; width:100%;}
.banners li:not(:last-child) {position: absolute; top:0; left:0;}